body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    margin: 0;
}

.all::after {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 70%;
    height: 600px;
    float: left;
}

.screen {
    width: calc(30% - 10px);
    height: 700px;
    background-color: #394240; /* Dark blue-gray for the screen */
    float: right;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 90%;
    height: auto;
    background-color: #ffffff; /* White background for text */
    padding: 20px;
    box-sizing: border-box;
    color: #333;
    text-align: justify;
    border: 1px solid #ddd; /* Light border */
    border-radius: 8px; /* Rounded corners */
}

#toolbar {
    background-color: #333; /* Dark toolbar background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.button {
    background-color: #333; /* Dark button background */
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px; /* Slight border-radius for buttons */
}

#chatBot button:hover,
#toolbar button:hover {
    background-color: #555; /* Darker color on hover */
}

#map {
    width: 100%;
    height: calc(100vh - 60px);
}

.leaflet-control-zoom {
    bottom: -60px;
    left: 1850px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: #333; /* Dark dropdown background */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Dark dropdown background */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content label {
    display: block;
    padding: 0.5em 1em;
    color: white; /* White text in dropdown */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .all {
        flex-direction: column;
    }

    .container,
    .screen {
        width: 100%;
        float: none;
    }

    .screen {
        height: auto;
    }
}
